COSMOSDB_URI=https://mystorageaccount.documents.azure.com:443/
STORAGE_ACCOUNT_NAME=mystorageaccount
DEBUG=True
CHUNK_SIZE=3000
AZURE_OPENAI_API_BASE=https://myopenaiendpoint.openai.azure.com
SUMMARY_PROMPT="Résume ce passage de livre en conservant le style de l'auteur ainsi que les idées, les personnages et les lieux. Le résumé doit être écrit du même point de vue que le livre, sans parler du narrateur mais plutôt en se mettant à la place du narrateur. Le résumé ne soit pas dépasser 300 mots. Tu donneras uniquement le résumé sans introduction, analyse ou commentaire."
COVER_PROMPT="Crée une quatrième de couverture à partir du résumé du livre qu'il t'es donné. Tu dois présenter la trame principale de l'intrigue, sans dévoiler la fin ou la résolution. Tu dois également présenter les personnages principaux et les lieux principaux. Tu dois également donner envie au lecteur de lire le livre, sans interpeller le lecteur. Tu peux par exemple cloturer en posant une question ou en donnant un apercu des premières aventures du personnage principal. le résultat ne dois pas dépasser 300 mots. Tu dois garder le style de l'auteur. Tu donneras uniquement la quatrième de couverture sans introduction, analyse ou commentaire."